.headerContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    color:var(--color6);
    padding-top: 8vh;
    align-content: center;
}

.headerContainer h1{
    font-size: 3rem;
    text-align: center;
}

#email a{
    color: black;
    text-decoration: none;
}

#email a:hover {
    color: rgba(192, 106, 173, 1);
    background-color:var(--color6);
    padding: 10px;
    border-radius: 10px;
}

.headerContainer p{
    font-style: italic;
    padding: 2vh 2vw;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.form input{
    margin: 1vh;
    border-radius: 5px;
    padding: 2vh 2vw;
    font-family: var(--font-family2);
    font-size: 1em;
}

.formButton{
    margin: 30px;
    min-width: 12vw;
    min-height: 12vh;
    font-family: var(--font-family2);
    border-radius: 10%;
    background-color: var(--color3);
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    
    .formButton{
        margin: 30px;
        font-family: var(--font-family2);
        border-radius: 10%;
        background-color:  var(--color3);
        cursor: pointer;
    } 

    .headerContainer h1{
        font-size: 2.2rem;
    }
}
