.footer{
    background-color: var(--color5);
    width: 100%;
    height: 10vh;
    overflow: hidden;
    padding-bottom: 15vh;
}

.footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 500;
    padding-top: 4vh;
}