*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

#root{
    --font-family2: 'Inconsolata', monospace; 
    --color1: goldenrod;
    --color2: #88A66A;
    --color3: rgba(192, 106, 173, 0.842);
    --color4: #d63f3c;
    --color5: #d98721;
    --color6: #faf9ff;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    word-wrap: break-word;
    padding: 0 10vw;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    word-wrap: break-word;
    text-align: justify;
}